
@media screen and (max-width: 1244px){
    .progress{
        height: 95%;
    }
}

@media screen and (min-width:1024px) and (max-width: 1222px){

    .responsive-progress-bar{
        flex-direction: column;
    }

    .aside-right-header ul li {
        padding: 15px 28px;
    }

    .comentor-name {
        flex: auto;
        padding-left: 15px;
        padding-right: 7px;

    }

    .custom-radio label {
        font-size: 10px;
        padding-right: 5px;
        padding-left: 5px;

    }

    .weather-time{
        height: 342px;
    }

    .customer-feedback{
        height: 95%;
    }

    .custom-radio label {
        font-size: 11px;
    }

    .dummy-text {
        font-size: 10px;
        padding-left: 10px;
        padding-right: 10px;
        width: 138px;

    }

    .watch-time, .watch-time i {
        font-size: 9px;
    }

    .arrange, .shipment, .make-list, .review{
        padding-left: 0;
    }

    .person{
        flex: none;
    }

    .comments-icon{
        flex: none;
    }

    .commentor-title{
        white-space: nowrap;
        width: 70px;
        overflow: hidden;
        text-overflow: ellipsis;
        border: 1px solid #000000;
    }

    .progress-image{
        text-align: center;
    }

    .progress-image img {

        width: 50%;
        height: auto;

    }

    .progress-shipment{
        _height: 387px;
    }

    .progress{
        width: 190%;
    }

    .progress-header {
        padding-bottom: 10px;
    }

    .progress-number{
        display: inline-block;
    }

    .progress-icon{
        display: inline-block;
        padding-left: 90px;
    }

    .shipment-number{
        font-size: 20px;
    }



}

